html {
  text-align: center;
}
#name {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;

}
.first {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
#keys {
  font-family: Helvetica;
  font-size: 14px;
}
.location {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
.bottom {
  text-align: left;
  font-family: helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
